div.labels {
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

div.labels label {
    display: block;

}

div.inputs {
    display: inline-block;
    width: 300px;
}
div.inputs input {
    width: 200px;
}